@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url(http://localhost:8080/static/fond.webp);
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    background-attachment: fixed; /* L'image reste fixe pendant le scroll */
    height: 100vh; /* Assure une hauteur de 100% de l'écran */
    
}


.header {
    display: flex;
    justify-content: space-between; /* Titre à gauche et pokeball à droite */
    align-items: flex-start; /* Aligne le contenu en haut */
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.pokeball {
    width: 50px;
    height: auto;
}

.content {
    display: flex;
    justify-content: flex-end; /* Place le menu à droite */
    align-items: center; /* Centre verticalement le menu */
    height: calc(100vh - 200px); /* Ajuste la hauteur pour exclure l'espace du header et du footer */
    padding-right: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Les éléments sont empilés verticalement */
    gap: 15px; /* Espacement entre les éléments du menu */
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.footer {
    text-align: right; 
    margin-right: 25%; 
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.footer  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer  a:hover{
    text-decoration: underline;
}


#recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh; /* Barre centrée verticalement */
}

.rech {
    width: 50%; /* Réduire la largeur */
    max-width: 500px; /* Largeur maximale */
    padding: 20px; /* Hauteur de la barre de recherche */
    font-size: 1.1rem; /* Taille du texte */
    border: 2px solid #ddd; /* Bord gris clair */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    transition: all 0.3s ease; /* Transition douce */
    outline: none; /* Enlève le contour par défaut */
}


.filtre {
    width: 7%; /* Réduire la largeur */
    max-width: 500px; /* Largeur maximale */
    padding: 20px; /* Hauteur de la barre de recherche */
    font-size: 1.1rem; /* Taille du texte */
    border: 2px solid #ddd; /* Bord gris clair */
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    transition: all 0.3s ease; /* Transition douce */
    outline: none; /* Enlève le contour par défaut */
}



.search-bar input::placeholder {
    color: #aaa; /* Couleur du texte du placeholder */
    font-style: italic; /* Texte en italique */
}

.search-bar input:focus {
    border-color: #007bff; /* Couleur du bord au focus */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Effet lumineux au focus */
}

.search-bar button {
    padding: 20px; /* Hauteur du bouton */
    margin-left: 10px; /* Marge à gauche */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bord */
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    transition: all 0.3s ease; /* Transition douce */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

    grid-auto-rows: minmax(100px, auto);
    place-items: center;
    gap: 10px;
    
  }

  .wrapperSet {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Affiche 4 éléments par ligne */
    gap: 15px; /* Espace entre les éléments */
    padding: 10px; /* Ajouter un peu de marge intérieure */
    width: 100%; /* Assurer que le wrapper occupe toute la largeur */
    
    
}

.carte img {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.nomset {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
  
.filter-container {
    position: relative;
    width: 10vh;
  }
  
  .filter-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter-menu {
    display: none;
    position: relative;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
  .filter-menu label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .filter-menu input {
    margin-right: 10px;
  }
  
  .show {
    display: block;
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-buttons a {
    padding: 10px 20px;
    background-color: #FFCC00;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #FFA500;
}

.content1 h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.content1 h3 {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

.content1 h4 {
    margin-top: 15px;
    font-size: 16px;
    color: red;
}

.content1 p {
    margin-left: 20px;
    line-height: 1.6;
}

.content1 {
    background-color: rgba(0, 0, 0, 0.4);
  
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}