{{define "propos"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation du Projet</title>
    <link rel="stylesheet" href="/static/accueil.css">
</head>
<body>
    <div class="header">
        <h1 class="title">Pokémon</h1> 
        <div class="logo">
            <a href="/accueil"><img src="/static/Pokeball.png" alt="Logo Pokémon" class="pokeball"></a>
        </div>       
    </div>

    <section class="content1">
        <h2>À-Propos (Gestion du Projet)</h2>
        <h3>FAQ - Déroulement du Projet</h3>
        <h4>Comment avez-vous décomposé le projet ?</h4>
        <p>J'ai commencé par trouver mes EndPoints. Ensuite je les ai exploité en go. J'ai ensuite préparer des wireframes ainsi que des maquettes du site web avec Figma. Après cela j'ai implémenté et développé mon site web. Une fois cela fait j'ai du procéder a des test et correction des fails du site web et enfin j'ai livré la solution web !</p>

        <h4>Comment avez-vous réparti les tâches dans l’équipe ?</h4>
        <p>C'était un travail de groupe ? ^^ ..</p>
        <h4>Comment avez-vous géré votre temps ?</h4>
        <p> Sinon gestion du temps à la cool pour la santé mentale. J'ai tout de meme fait en priorité ce que je savais faire c'est pour cela que le pokedex n'a pas été fait (système de favoris). Avec du recul jaurais pu le faire dans le temps imparti avec une meilleurs gestions du temps. Mochi Mochi  </p>

        <h4>Quelle stratégie avez-vous adoptée pour vous documenter ?</h4>
        <p> Documentation officielle, forums, tutoriels, IA, comme tout le monde quoi !</p>

    </section>
       

    <footer>
        <p>&copy; 2025 GroupieTracker - Projet Moubarak.</p>
    </footer>
</body>
</html>
{{end}}