{{define "rechercher"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/accueil.css">
    <title>Page d'accueil</title>
</head>
<body>
    
        <div class="header">
            <h1 class="title">Pokémon</h1> 
            <div class="logo">
                <a href="/accueil"><img src="/static/Pokeball.png" alt="Logo Pokémon" class="pokeball"></a>
            </div>       
        </div>


        <div class="search-bar">
            <form id="recherche" action="/rechercher" method="GET">
                <input type="text" placeholder="Rechercher un Pokémon" name="query"  value="" required/>
                <label><input type="number" name="min-hp"> Hp min</label>
                <button type="submit" >valider</button> 
            </form>

            <div class="filter-container">
                <button class="filter-button" onclick="toggleFilter()">Filtrer</button>
                <div id="filter-menu" class="filter-menu">
                    
                        <label><input type="checkbox"> Option 2</label>
                        <label><input type="checkbox"> Option 3</label>
                        <button class="filter-button">Appliquer</button>
                </div>
            </div>
        </div>  
       <div class="wrapper">
        {{if .Data}}
            {{range .Data}}
                <div class="carte" >
                    <img src="{{.Images.Small}}" alt="{{.Name}}">
                        <p>{{.Name}}</p>
                        <p>{{.Rarity}}</p>
                </div>
            {{end}}
        {{end}}
       </div>
       <script>
        function toggleFilter() {
          document.getElementById("filter-menu").classList.toggle("show");
        }
      </script>
</body>
</html>
{{end}}