{{define "set"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/accueil.css">
    <title>Page d'accueil</title>
</head>
<body>

    <div class="header">
            <h1 class="title">Pokémon</h1> 
            <div class="logo">
                <a href="/accueil"><img src="/static/Pokeball.png" alt="Logo Pokémon" class="pokeball"></a>
            </div>       
    </div>
    
   
        
    <div class ="wrapperSet">
            {{if .Set.Data}}
                {{range .Set.Data}}
                    <div class="carte">
                        <a href="/set/cards?id={{.Id}}&name={{.Name}}"><img src="{{.Images.Logo}}" alt="{{.Name}}" id="imageSet"></a>
                        <p>{{.Name}}</p>
                        <p>{{.ReleaseDate}}</p>
                    </div>
                {{end}}
            {{end}}
    </div>

    <div class="nav-buttons">
        {{if .ShowPrev}}
            <a href="/set?page={{.PrevPage}}">Précédent</a>
        {{end}}

        {{if .ShowNext}}
            <a href="/set?page={{.NextPage}}">Suivant</a>
        {{end}}
    </div>
       
   
       
    <div class="footer">
        <p>À propos</p>
    </div>
    
</body>
</html>
{{end}}
