{{define "set"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/accueil.css">
    <title>Page d'accueil</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Pokémon</h1> 
            <div class="logo">
                <a href="/accueil"><img src="/static/Pokeball.png" alt="Logo Pokémon" class="pokeball"></a>
            </div>       
        </div>
        
        <div class="contentset">
          <div class ="wrapperSet">
            {{if .Data}}
                {{range .Data}}
                    <div class="set">
                        <img src="{{.Images.Logo}}" alt="{{.Name}}" id="imageSet">
                        <p>{{.Name}}</p>
                        <p>{{.ReleaseDate}}</p>
                    </div>
                {{end}}
            {{end}}
          </div>
        </div>
        <div class="footer">
            <p>À propos</p>
        </div>
    </div>
</body>
</html>
{{end}}
